@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&family=Varela+Round&family=Work+Sans&display=swap');
@font-face {
    font-family: nos;
    src: url("../fonts/Gumela.ttf");
}

@font-face {
    font-family: nos2;
    src: url("../fonts/Config Rounded Medium.otf");
}

*{
    font-family: nos2;
    padding: 0;
    margin: 0;
}

html{
    overflow-x: hidden;
}

body{
    padding: 0px 50px;
    box-sizing: border-box;
    font-family: nos2;
}

#navbar{
    z-index: 1;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}


a{
    text-decoration: none;
    color: inherit;
}


nav > p{
    font-size: 50px;
    font-weight: bold;
}

nav > ul{
    font-size: 20px;
    display: flex;
    gap: 50px;
}

nav > ul > li{
    list-style-type: none;
}

nav > ul > li:hover{
    text-decoration: underline;
}

#hamburger{
    display: none;
    position: relative;

    height: 30px;
    width: 35px;
}

#hamburger > div{
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    transition: 0.25s ease-in-out
}

#hamburger > div:nth-child(1){
    top: 0;
}

#hamburger > div:nth-child(2){
    top: 12.5px;
    width: 20px;
}

#hamburger > div:nth-child(3){
    top: 25px;
}

#hamburger.on > div:nth-child(1){
    top: 12.5px;
    transform: rotate(135deg);
}

#hamburger.on > div:nth-child(2){
    opacity: 0;
}

#hamburger.on > div:nth-child(3){
    transform: rotate(-135deg);
    top: 12.5px;
}



#introduction{
    grid-area: a;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section{
    display: grid;
}

#home{
    width: 100%;
    margin-top: 40px;
    grid-template-areas: "a b";
    justify-content: space-around;
    align-items: center;
}

#intro-lines{
    display: flex;
    flex-direction: column;
    font-size: 80px;
}

#introduction > button{
    border: none;
    width: fit-content;
    padding: 15px 40px;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    background: linear-gradient(to bottom, rgb(253, 194, 0) 0%, rgb(251, 148, 50) 100%);
    transition: 00.25s ease-in-out;
}


#introduction > button:hover{
    cursor: pointer;
    animation: intro-button-animation 0.25s forwards;

}

@keyframes intro-button-animation {
    0%{
        outline: none;
        background-color: rgb(251, 148, 50);
        color: white;
    }
    100%{
    outline: 3px solid rgb(251, 148, 50);
    background: white;
    color: rgb(251, 148, 50);
    }
}

#introduction > p{
    font-size: 25px;
}

#profile{
    overflow: hidden;
    grid-area: b;
    position: relative;
    display: flex;
    width: 500px;
    aspect-ratio: 1/1;
}

#pfp{
    position: absolute;
    width: 100%;
}

#profile-bg{
    position: relative;
    top: 20px;
    animation: profile-bg-animation 3s infinite alternate ease-in-out;
}

@keyframes profile-bg-animation {
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}



@media screen and (max-width:1000px) {

    #home{
        grid-template-columns: 1fr;
        grid-template-areas: "b"
        "a";
        place-items: center;
    }

    #profile{
        width: 60%;
    }
    #navbar{
        box-sizing: border-box;
    }

    #hamburger{
        z-index: 2;
        display: flex;
        display: flex;
        flex-direction: column;
    }

    nav > ul{
        font-size: 25px;
        z-index: 1;
        background-color: white;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
    }

    nav > ul.on{
        pointer-events: all;
        animation: navbar-animation 0.25s forwards ease-in-out;
    }
    
    nav > ul.close{
        animation: navbar-closed-animation 0.25s ease-in-out;
    }

    @keyframes navbar-animation {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }

    }

    @keyframes navbar-closed-animation {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    #intro-lines{
        display: flex;
        flex-direction: row;
        font-size: 60px;
        gap: 15px;
    }


    #introduction > button {
        align-self: center;
    }
}


@media screen and (max-width:700px) {
    #intro-lines{
        font-size: 45px;
        gap: 15px;
    }
}

@media screen and (max-width: 700px) {
    #profile{
        width: 80%;
    }
}

@media screen and (max-width: 525px) {
    #intro-lines{
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 450px) {
    #profile{
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    #intro-lines{
        font-size: 35px;
    }

    #introduction > p{
        font-size:18px;
    }
}