@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&family=Varela+Round&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: 'Ubuntu Mono', monospace; */
    /* font-family: 'Inter Tight', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #5cdb95;
}
nav{
    position: sticky;
    top: 0;
    height: fit-content;
    /* height: 500px; */
    overflow: hidden;
/* overflow-y: scroll; */
    padding: 0 10px;
    box-sizing: border-box;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

nav > p{
    display: flex;
    font-size: 40px;
}

nav ul{
    font-size: 20px;
    display: block;
    transition: 00.25s ease-in-out;
    display: flex;
    gap: 40px;
}

nav li{
    list-style-type: none;
}

#hamburger{
    position: absolute;
    opacity: 0;
    display: none;
    margin-top: 10px;
    z-index: 1;
    width: fit-content;
    display: flex;
    gap: 9px;
    flex-direction: column;
    width: 45px;
    height: 50px;
}

#hamburger > div{ 
    position: absolute;
    
    /* border: 1px solid red; */
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #05386b;

}


#hamburger > div{
    transition: 00.25s ease-in-out;
    /* -o-animation: 00.25s ease-in-out; */
    /* animation-timing-function: 0.25s; */
    
}

#hamburger > div:nth-child(1){
    /* position: absolute; */
    /* opacity: 0; */
    /* left: -60px; */
    top: 0;
}

#hamburger > div:nth-child(2){
    /* position: absolute; */
    top: 10px;
    /* transform: rotate(-135deg); */
    /* transform-origin: 0% 0%; */
}
#hamburger > div:nth-child(3){
    /* position: absolute; */
    top: 20px;
    /* transform: rotate(135deg); */

    /* transform-origin: 0% 0%; */

}
#hamburger.open > div:nth-child(2){
    /* position: absolute; */
    opacity: 0;
    animation: slide 0.25s alternate;
}

@keyframes slide {
    0%{
        left: 0;
    }
    100%{
        left: -60px;
    }
}

#hamburger.open > div:nth-child(1){
    position: absolute;
    top: 10px;
    transform: rotate(-135deg);
    /* transform-origin: 0% 0%; */
}
#hamburger.open > div:nth-child(3){
    position: absolute;
    top: 10px;
    transform: rotate(135deg);

    /* transform-origin: 0% 0%; */

}

@media screen and (max-width: 700px) {
    nav{
        /* width: 100vw; */
        overflow-y: clip;
    }
    #hamburger{
    position: relative;
    opacity: 1;
    display: block;
    }

    nav.open{
        height: 100vh;
    }
    nav ul{
        font-size: 20px;
        height: 100%;
        background-color: #8ee4af;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        width: 100%;
        position: absolute;
        right: -200%;
        flex-direction: column;
    }


    nav ul.open{
        right: 0%;
    }
}